@model IEnumerable<EmployeeMangmentSystem.Repository.Models.City>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
        .tftable {
            width: 100%;
            border-width: 1px;
            border-collapse: collapse;
        }

            .tftable th {
                font-size: 15px;
                font-weight: bold;
                background-color: #acc8cc;
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                text-align: left;
            }
    </style>

</head>
<body>

    <table class="tftable" border="1" style="width: 100%;border-style:solid; border-width:1px;" cellpadding="4" cellspacing="4">
        <tbody>
            <tr>
                @*<th>&nbsp;Id</th>*@
                <th>&nbsp;Name</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>&nbsp;@item.Id</td>*@
                    <td>&nbsp;@item.Name</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
