@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>



@*@model EmployeeManagementSystem.Models.Time.TimeTrackingSystems

<div class="row" style="margin:25px">
    <a class="btn btn-info" href="@Url.Action("Contact","Home")">View Reports</a>
</div>
<div class="row" style="margin:25px">
    <div class="col-lg-12">
        @if (Model.IsBreakIn && Model.IsClockIn)
        {
            using (Html.BeginForm("BrakeOut", "home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
            {
                <button type="submit" class="btn btn-primary">Brake out</button>
            }
        }
        else
        {
            if (Model.IsClockIn)
            {
                using (Html.BeginForm("BrakeIn", "Home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
                {
                    <button type="submit" class=" btn btn-primary">Break In</button>
                }
            }
        }


        @if (Model.IsClockIn)
        {
            if (!Model.IsBreakIn)
            {
                using (Html.BeginForm("ClockOut", "Home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
                {
                    <button type="submit" class=" btn btn-primary">Clock Out</button>
                }
            }
        }
        else
        {

            using (Html.BeginForm("ClockIn", "Home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
            {
                <button type="submit" class=" btn btn-primary">Clock In</button>
            }

        }
    </div>
</div>*@