@{
    ViewBag.Title = "Dashboard";
}

<script type="text/javascript">
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "3000",
        "hideDuration": "1000",
        timeOut: 0,
    extendedTimeOut: 0,
    tapToDismiss: true,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": 'fadeOut'
    }

    var msgUrl = '@Url.Action("GetMessages", "Notification")';
        $.ajax({
        url: msgUrl,
        type: 'get',
        success: function (data) {
            //debugger
            if (data != null) {
                //debugger
                console.log("Successfull"),
                    console.log(data)
                for (var i = 0; i < data.length; i++) {
                       toastr.info(data[i].Message);
                }
            }
        },
    });
</script>

@model EmployeeManagementSystem.Models.Time.TimeTrackingSystems

@*<div class="row" style="margin:25px">
    <a class="btn btn-info" href="@Url.Action("Contact","Home")">View Reports</a>
</div>*@
<div class="row" style="margin:25px">
    <div class="col-lg-12">
        @if (Model.IsBreakIn && Model.IsClockIn)
        {
            using (Html.BeginForm("BrakeOut", "home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
            {
                <button type="submit" class="btn btn-primary">Break out</button>
            }
        }
        else
        {
            if (Model.IsClockIn)
            {
                using (Html.BeginForm("BrakeIn", "Home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
                {
                    <button type="submit" class=" btn btn-primary">Break In</button>
                }
            }
        }


        @if (Model.IsClockIn)
        {
            if (!Model.IsBreakIn)
            {
                using (Html.BeginForm("ClockOut", "Home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
                {
                    <button type="submit" class=" btn btn-primary">Clock Out</button>
                }
            }
        }
        else
        {

            using (Html.BeginForm("ClockIn", "Home", FormMethod.Post, new { @class = "col-lg-6", role = "form" }))
            {
                <button type="submit" class=" btn btn-primary">Clock In</button>
            }

        }
    </div>
</div>